@{
    ViewBag.Title = "Adicionar Ônibus";

}

<h2>@ViewBag.Title</h2>
<form method="post">


    <div class="form-group">
        <label>Prefixo</label>
        <input type="text" asp-fpr="Prefixo" class="form-control" autofocus />
    </div>

    <div class="form-group">
        <label>Linha</label>
        <input type="number" name="linha" class="form-control" />
    </div>
    <div class="form-group">
        <label>Empresa</label>
        <input type="text" name="empresa" class="form-control" />
    </div>
    <div class="form-group">
        <label>Quantidade de Lugares</label>
        <input type="number" name="Quantidadelugares" class="form-control" />
    </div>

    <button type="submit" class="btn btn-outline-dark" >Enviar</button>
    <a href="/Buses" class="btn btn-info">Cancelar</a>



</form>
