@model AvaliationAddVM
@{
    ViewBag.Title = "Avaliar Ônibus";



}

<h2>@ViewBag.Title</h2>

<form method="post">
    <div class="form-group">
        <label><h5>Id do Usuário:</h5></label>
        <input type="number" min=@Model.UsuarioId max=@Model.UsuarioId class="form-control" asp-for="UsuarioId" value="@Model.UsuarioId">
    </div>
    <div class="form-group">
        <label>Id do Ônibus que deseja Avaliar:</label>
        <input type="number" min=1 value="default" class="form-control" asp-for="BusId"  placeholder="Digite o Id">
        <small class="is-invalid">
            <span asp-validation-for="BusId"></span>
        </small>
    </div>
    <div class="form-group">
        <label for="Espaco">Espaço:</label>
        <input type="number" max=5 min=1 value="default" class="form-control" asp-for="Space" placeholder="Digite a nota de 1 a 5">
        <small class="is-invalid">
            <span asp-validation-for="Space"></span>
        </small>
    </div>

    <div class="form-group">
        <label for="barulho">Barulho:</label>
        <input type="number" max=5 min=1 value="default" class="form-control" asp-for="Barulho" placeholder="Digite a nota de 1 a 5">
        <small class="is-invalid">
            <span asp-validation-for="Barulho"></span>
        </small>
    </div>
    <div>
    </div>
    <div class="form-group">
        <label for="Balanco">Balanço:</label>
        <input type="number" max=5 min=1 value="default" class="form-control" asp-for="Balanco" placeholder="Digite a nota de 1 a 5">
        <small class="is-invalid">
            <span asp-validation-for="BusId"></span>
        </small>
    </div>


    <div class="form-group">
        <label for="ArC">Ar Condicionado:</label>
        <input type="number" max=5 min=1 value="default" class="form-control" asp-for="ArCond" placeholder="Digite a nota de 1 a 5">
        <small class="is-invalid">
            <span asp-validation-for="ArCond"></span>
        </small>
    </div>
    <div class="form-group">
        <label for="Conforto">Conforto:</label>
        <input type="number" max=5 min=1 value="default" class="form-control" asp-for="Conforto" placeholder="Digite a nota de 1 a 5">
        <small class="is-invalid">
            <span asp-validation-for="Conforto"></span>
        </small>
    </div>

    <div class="form-group">
        <label for="TemWifi">Tem Wifi?:</label>
        <input type="number" max=1 min=0 value="default" class="form-control" asp-for="TemWifi" placeholder="Digite 0 para 'Não' e 1 para 'Sim'">
        <small class="is-invalid">
            <span asp-validation-for="TemWifi"></span>
        </small>
    </div>


    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-outline-dark">Enviar</button>
    <a asp-action="Index" asp-controller="Avaliations" class="btn btn-info">Cancelar</a>

</form>
@section scripts{

<script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>

}


