@using projetoDaniel.Models
@model 
@{
    ViewBag.Title = "Avaliações dos Ônibus";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Id do Ônibus</th>
            <th>Espaço</th>
            <th>Barulho</th>
            <th>Balanco</th>
            <th>Ar Condicionado/th>
            <th>Conforto</th>
            <th>Tem Wifi?</th>



        </tr>
    </thead>
    <tbody>
        
    </tbody>


</table>